
.container{
  background-color: #4DBBC6;

}
.content-all{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.content-img{
  width: 600px;
  height: 400px;
  margin: auto;
  margin-top: 100px;
  position: relative;
  overflow: hidden;
}
.content-img img{
  width: 100%;
  transition: all 300ms;

}

.content-1{
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 0;
  background: rgba(10,10,10,0.6);
  -webkit-transform:rotate(-30deg);
  transform: rotate(-30deg);
  margin-left: -750px;
  transition: all 300ms;
  box-shadow: 0px 1px 10px -5px white;

}
.content-2{
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 0;
  background: rgba(10,10,10,0.6);
  -webkit-transform:rotate(-30deg);
  transform: rotate(-30deg);
  margin-left: -800px;
  transition: all 500ms;
  box-shadow: 0px 1px 10px -5px white;

}
.content-3{
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 0;
  background: rgba(10,10,10,0.6);
  -webkit-transform:rotate(30deg);
  transform: rotate(30deg);
  margin-left: -800px;
  margin-top: -500px;
  transition: all 900ms;
  box-shadow: 0px 1px 10px -5px white;

}
.content-4{
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 0;
  background: rgba(10,10,10,0.6);
  -webkit-transform:rotate(30deg);
  transform: rotate(30deg);
  margin-left: -850px;
  margin-top: -500px;
  transition: all 700ms;
  box-shadow: 0px 1px 10px -5px white;

}
.content-img:hover .content-1{
  width: 222%;
  -webkit-transition:all 900ms;
  transition: all 900ms;
}
.content-img:hover .content-2{
  width: 222%;
  -webkit-transition:all 300ms;
  transition: all 300ms;
}
.content-img:hover .content-3{
  width: 222%;
  -webkit-transition:all 500ms;
  transition: all 500ms;
}
.content-img:hover .content-4{
  width: 222%;
  -webkit-transition:all 700ms;
  transition: all 700ms;
}
.content-img:hover img{
  transform: scale(1.5);
  transition: all 300ms;
  opacity: 0.9;
}
.content-txt{
  position: absolute;
  top: 0;
  width: 400px;
  padding: 10px;
  z-index: 10;
  color: white;
  text-align: center;
  margin-top: 100px;
}
.content-txt h2{
  font-size: 30px;
  opacity: 0;
  transform: scale(0.2);
  transition: all 300ms;
}
.content-txt p{
  font-size: 20px;
  margin-top: 10px;
  opacity: 0;
}
.content-img:hover h2{
  font-size: 30px;
  opacity: 0;
  transform: scale(0.2);
  transition: all 300ms;
}
.content-img:hover p{
  font-size: 20px;
  opacity: 10;
  transform: scale(1.5);
  transition: all 300ms;
}
.content-img:hover h2{
  opacity: 1;
  transition: all 300ms;
  transform: scale(1);
}
.content-img:hover p{
  opacity: 1;
  transform: scale(1);
  transition: all 500ms;
}
